.header{
    background-color: rgb(230, 230, 230);
    height: 300px;
    padding: 30px;
    h4{
        font-family: Avenir-Black;
        font-size: 48px;
        color: #383B41;
        letter-spacing: 2px;
        line-height: 35px;

    }
    p{
        font-family: Avenir-Light;
        font-size: 24px;
        color: #383B41;
        line-height: 32px;    
}
}
